[Desktop Entry]
Type=Application
Exec=/usr/local/bin/setup-custom-shortcut.sh
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name=Setup Custom Shortcut
Comment=Setup Ctrl+Alt+Delete custom shortcut for password control
